<%= form_with(model: @profit_loss_statements, url: profit_loss_statements_path, method: :post) do |form| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="field">
    <%= form.label :date, "Date (YYYY-MM-DD)" %>
    <%= form.date_field :date, value: Date.today.strftime("%Y-%m-%d") %> </div>

  <div class="field">
    <%= form.label :amount, "Amount" %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :revenue %>
    <%= form.number_field :revenue %>
  </div>

  <div class="field">
    <%= form.label :expenses %>
    <%= form.number_field :expenses %>
  </div>

  <div class="field">
    <%= form.label :sales %>
    <%= form.number_field :sales %>
  </div>

  <div class="field">
    <%= form.label :accounts_receivable %>
    <%= form.number_field :accounts_receivable %>
  </div>

  <div class="field">
    <%= form.label :accounts_payable %>
    <%= form.number_field :accounts_payable %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>

<% end %>
